.page {
    background-color: black;
}

.postarea {
    background-color: #262626;
    width: min(max(60%, 500px), 1000px);
    margin: 0 auto;
    color: white;
}

.postcontent {
    margin: 0 auto;
    padding: 30px 5%;
}

span.elem {
    height: 30%;
}

.postcontent * {
    font-family: Helvetica, Arial, sans-serif;;
}

.emoji {
    height: 20px;
}

.highlight, imp {
    color: #9effb8;
}

img.glow {
    box-shadow: 0px 0px 20px #fff;
    margin: 15px 0px;
}

a {
    color: #baf9ff;
}
a:hover {
    color: #f5ff66;
}

.block {
    border: white 3px solid;
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    background-color: #151515;
    color: fbffe0;
}